##<link href="/sf/css/header.css" rel="stylesheet"/>
<header class="am-topbar">
    <div class="am-topbar-brand">
        <a href="/"><strong>CreateArtTechnology</strong></a> <a href="/img"><small>/ img</small></a>
    </div>
</header>