#define($content)
<link rel="stylesheet" href="/sf/css/image_server/page/waterfall.css" />
    <div id="cells-container">
        <div id="cells"></div>
        <div id="loader"><span id="loader-text">... 正在加载 ...</span></div>
    </div>
<script src="/sf/js/image_server/page/waterfall.js"></script>
#end